# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temps
*~
.DS_Store
._.DS_Store

# build output and the test install folder
/build
/**/build
/install
/.conan

# Compile commands don't need to be saved
.vscode/compile_commands.json

# Ignore all the ppms and tga
*.ppm
*.tga

# Trainging data and t10k data
*-ubyte

# Ignore the render image that the OpenCV version makes
render_image.png