# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temps
*~
.DS_Store
._.DS_Store
__pycache__

# build output and the test install folder
/build
/**/build
/install
/.conan
/package

# Compile commands don't need to be saved
.vscode/compile_commands.json

# Ignore all the ppms and tga
*.ppm
*.tga

# Trainging data and t10k data
# *-ubyte

# Ignore the render image that the OpenCV version makes
render_image.png

# Ignore the Virtual Environment Stuff for Conan
activate.*
conan.lock
conan_paths.cmake
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
deactivate.*
environment.*.env
graph_info.json

# ignore profiling and odd docs
/*.pdf
/*.prof
/*.profraw

# Ignore Python Junk
*.egg-info